@import url('https://fonts.googleapis.com/css2?family=Inter');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
a {
  cursor: pointer;
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 10vh 90vh;
  height: 100vh;
  margin: 0;
}

.left-col {
  display: flex;
  flex-direction: column;
  padding: 50px;
  min-width: 0;
  gap: 10px;
  grid-row: 1 / span 2; 
  grid-column: 1;
  background-color: #3F3E51;
  color: #FDFDFD;
}

.left-col-title {
  font-size: 2rem;
  font-weight: 400;
}

.top-row {
  grid-row: 1;
  grid-column: 2;
  background-color: #8D8D92;
}

.bottom-row {
  grid-row: 2;
  grid-column: 2;
  background-color: #FDFDFD;
}